pom.xml
pom.xml.asc
*.jar
*.class
/classes/
/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
.cpcache/
*.iml
*.log

.lsp/.cache
.clj-kondo/.cache
.cpcache/
.calva
.idea
.lein-*
.nrepl-*
.socket-*

/src/gen

.DS_Store
.dir-locals.el

/docker/localstack
/docker/redis
